<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="text-center">
    <h3>тест</h3>
    <br><br><br><br>
</div>
<div>
    <!--<p th:text="${questions[0].answears[1]}"></p>-->
    <form action="/test" method="post">
            <!--<section th:each="que : ${questions}" th:text="${que.question}">-->
                <!--&lt;!&ndash;<th:block th:text="@{que.id}"></th:block>&ndash;&gt;-->
                    <!--<th:block th:each="answear : ${que.answears}" th:text="${answear}">-->

                    <!--</th:block>-->
            <!--</section>-->
        <div th:each="que : ${questions}">
            <th:block th:text="${que.question}"></th:block>
            <ul>
                <div th:each="answear : ${que.answears}">
                    <li th:text="${answear}"></li>
                </div>
            </ul>
            <input type="hidden" id="que" name="question" class="form-control" th:value="${que.id}">
            <input type="text" id="answear" name="answear" class="form-control" placeholder="answear">
        </div>
        <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
</body>
</html>